* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  background: #0f172a;
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  height: 100vh;
  background: #020617;
  padding: 20px;
  position: fixed;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #1e293b;
}

/* MAIN */
main {
  margin-left: 240px;
  width: 100%;
}

/* TOPBAR */
.topbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #020617;
}

/* SECTIONS */
.section {
  display: none;
  padding: 20px;
}

.section.active {
  display: block;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

/* PANELS */
.panel {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
}

/* BUTTONS */
button {
  padding: 10px 15px;
  border: none;
  background: #38bdf8;
  color: #000;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  opacity: 0.8;
}

/* INPUTS */
input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  border: none;
}

/* APPLIANCES */
.appliances button {
  margin-right: 10px;
}

/* ALERTS */
#alertsList {
  margin-top: 10px;
}

#alertsList li {
  margin-bottom: 5px;
  color: #f87171;
}

/* AUTH BOX */
.auth-box {
  max-width: 300px;
  margin: auto;
}

/* LIGHT MODE */
.light-mode {
  background: #f1f5f9;
  color: #000;
}

.light-mode .card,
.light-mode .panel,
.light-mode .sidebar,
.light-mode .topbar {
  background: #fff;
  color: #000;
}